/*high*/
.main_high {
  display: flex;
  justify-content: space-between;
}

.main_high-box-common {
  border-radius: 10px;
  height: 200px;
}

/*high-profile*/
.main_high-profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  background-color: #cbd3bd;
  padding-top: 30px;
  box-sizing: border-box;
  border: 7px solid var(--welcome-font-color);
  box-shadow: 2px 2px 10px var(--welcome-font-color);
}

.main_high-profile-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 2px 2px 10px var(--welcome-font-color);
}

.main_high-profile-img-box {
  font-size: 45px;
}

.main_high-profile-name-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 35px;
  border-bottom: 3px solid var(--welcome-font-color);
  margin-top: 10px;
  box-sizing: border-box;
}
.main_high-profile-name-box h1 {
  font-size: 17px;
  font-weight: 800;
  color: var(--welcome-font-color);
}

/*high-time*/
.main_high-time-day-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
}

.main_high-timeday-box-common {
  width: 100%;
  height: 90px;
  border-radius: 10px;
  background-color: darkgoldenrod;
}

.main_high-time-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  color: var(--welcome-font-color);
  background-color: #ffffff;
  border: 20px solid #e8e7e3;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px var(--welcome-font-color);
}

/*high-music*/
.main_high-music-box {
  width: 510px;
  background-color: aliceblue;
}

/*middle*/
.main_middle {
  height: 30px;
  width: 100%;
  border-radius: 10px;
  background-color: aliceblue;
  margin: 20px 0;
}

/*low*/
.main_low {
  display: flex;
  justify-content: space-between;
}

.main_low-box-common {
  height: 230px;
  border-radius: 10px;
}

.main_low-left-box {
  background-color: aliceblue;
  width: 200px;
}

.main_low-memo-box {
  background-color: aliceblue;
  width: 570px;
}

.main_low-right-box {
  background-color: aliceblue;
  width: 150px;
}
