.main_body_backgroud {
  background-image: url("../img/배경사진.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.main_body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_backgroud {
  width: 1000px;
  height: 500px;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 40px;
}
