/*high*/
.main_high {
  display: flex;
  justify-content: space-between;
}

.main_high-box-common {
  border-radius: 10px;
  height: 200px;
}

/*high-profile*/
.main_high-profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  background-color: var(--main-background-color);
  padding-top: 30px;
  box-sizing: border-box;
  border: 7px solid var(--welcome-font-color);
  box-shadow: 2px 2px 10px var(--welcome-font-color);
}

.main_high-profile-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 2px 2px 10px var(--welcome-font-color);
}

.main_high-profile-img-box {
  font-size: 45px;
}

.main_high-profile-name-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 35px;
  border-bottom: 3px solid var(--welcome-font-color);
  margin-top: 10px;
  box-sizing: border-box;
}
.main_high-profile-name-box h1 {
  font-size: 17px;
  font-weight: 600;
  color: var(--welcome-font-color);
}

/*high-time*/
.main_high-time-day-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
}

.main_high-timeday-box-common {
  width: 100%;
  height: 90px;
  border-radius: 10px;
}

.main_high-time-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  color: var(--welcome-font-color);
  background-color: #ffffff;
  border: 20px solid var(--main-background-color);
  box-sizing: border-box;
  box-shadow: 2px 2px 10px var(--welcome-font-color);
}

/*hight-day*/
.main_high-day-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
  background-color: var(--welcome-font-color);
  box-shadow: 2px 2px 10px var(--welcome-font-color);
}

.main_high-month-date-box {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 60px;
  background-color: var(--main-background-color);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.main_high-day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  background-color: var(--welcome-light-color);
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-weight: 400;
}

.main_high-day-common {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 800;
  position: relative;
  bottom: -8px;
  color: var(--welcome-font-color);
}
/*high-music*/
.main_high-music-box {
  width: 510px;
  background-color: aliceblue;
}

/*middle*/
.main_middle {
  height: 30px;
  width: 100%;
  border-radius: 10px;
  background-color: aliceblue;
  margin: 20px 0;
}

/*low*/
.main_low {
  display: flex;
  justify-content: space-between;
}

.main_low-box-common {
  height: 230px;
  border-radius: 10px;
}

.main_low-left-box {
  background-color: aliceblue;
  width: 200px;
}

.main_low-memo-box {
  background-color: aliceblue;
  width: 570px;
}

.main_low-right-box {
  background-color: aliceblue;
  width: 150px;
}
