.welcome_all_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #34e89e, #0f3443);
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome_body {
  box-sizing: border-box;
  background-color: var(--welcomebackgroud-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 40px;
  box-shadow: 15px 15px 35px 10px rgba(0, 0, 0, 0.2);
  outline: 2px solid var(--welcome-light-color);
  outline-offset: -15px;
}

@media screen and (min-width: 10px) and(max-width: 500px) {
  .welcome_body {
    width: 80%;
    height: 280px;
  }
}

@media screen and (min-width: 501px) {
  .welcome_body {
    width: 700px;
    height: 300px;
  }
}

.welcome_text {
  text-align: center;
}

.welcome_text h2 {
  font-weight: 400;
  font-size: 40px;
  color: var(--welcome-font-color);
  padding: 10px;
}

.welcome_text p {
  font-size: 17px;
  font-weight: 700;
  color: var(--welcome-light-color);
  padding-top: 15px;
}

.welcome_name {
  width: 100%;
  display: flex;
}

.welcome_name_box1 {
  width: 33%;
}

.welcome_name_text {
  border: none;
  background-color: var(--welcomebackgroud-color);
  font-size: 17px;
  font-weight: 800;
  color: var(--welcome-font-color);
  width: 100%;
  text-align: center;
}

.welcome_name_text:focus {
  outline: none;
}
.welcome_name_text::placeholder {
  color: var(--welcome-font-color);
}

.welcome_name_btn {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: var(--welcomebackgroud-color);
  border: 3px solid var(--welcome-font-color);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -10px;
  right: -10px;
  transition: all 0.2s linear;
}

.welcome_name_btn:hover {
  transform: scale(1.2);
}

.fa-leaf {
  color: var(--welcome-font-color);
}
